@(field: Field, label: String = "", placeholder: String = "", help: String = "")

<div class="form-group @if(field.hasErrors) {has-error}">
    <label class="col-sm-2 control-label" for="@field.id">@label</label>
    <div class="col-sm-4">
        <input type="text"
            class="form-control"
            id="@field.id"
            name="@field.name"
            value="@field.value.getOrElse("")"
            placeholder="@placeholder" />
        <span class="help-block">@help</span>
        <span class="help-block">@{field.error.map { error => Messages(error.message, error.args.toString) }}</span>
    </div>
</div>
