@(form: Form[DataTable], dimensions: MatrixDimensions)

@import models._
@import fields._

@main {

    @if(form.hasErrors && form.errors.length != form.globalErrors.length) {
        <div class="alert alert-danger" role="alert">
            <strong>Hiba!</strong>
            Nem minden mező lett megfelelően kitöltve. Javítsd a pirossal keretezett mezőket!
        </div>
    }
    @if(form.hasGlobalErrors) {
        @for(error <- form.globalErrors) {
            <div class="alert alert-danger" role="alert">
                <strong>Hiba!</strong>
                @error.message
            </div>
        }
    }

    @helper.form(action = routes.Application.calculate(dimensions.senderCount, dimensions.receiverCount), 'class -> "form-horizontal") {
        <table class="table">
            <thead>
                <tr>
                    <th>Szállító/<br/>Megrendelő</th>
                    @for(i <- 1 to dimensions.receiverCount) {
                        <th>@i. megrendelő</th>
                    }
                    <th>Készlet</th>
                    <th>Min. különbség</th>
                </tr>
            </thead>
            <tbody>
                @for(i <- 1 to dimensions.senderCount) {
                    <tr>
                        <th>@i. szállító</th>
                        @for(j <- 1 to dimensions.receiverCount) {
                            <td>
                                @textWithoutLabel(form(s"cost[${i-1}][${j-1}]"))
                            </td>
                        }
                        <td>
                            @textWithoutLabel(form(s"stock[${i-1}]"))
                        </td>
                        <td>@form.value.flatMap(_.senderDifferences.lift(i-1)).getOrElse("")</td>
                    </tr>
                }
                <tr>
                    <th>Igények</th>
                    @for(j <- 1 to dimensions.receiverCount) {
                        <td>
                            @textWithoutLabel(form(s"need[${j-1}]"))
                        </td>
                    }
                    <th></th>
                </tr>
                <tr>
                    <th>Min. különbség</th>
                    @for(j <- 1 to dimensions.receiverCount) {
                        <td>
                            @form.value.flatMap(_.receiverDifferences.lift(j-1)).getOrElse("")
                        </td>
                    }

                </tr>
            </tbody>
        </table>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Küldés</button>
        </div>
    }
}
