@(dimensionsForm: Form[MatrixDimensions])

@import fields._

@main {

    @helper.form(action = routes.Application.validateDimensions, 'class -> "form-horizontal") {
        <fieldset>
            @text(dimensionsForm("senderCount"), label = "Szállítók száma: ")
            @text(dimensionsForm("receiverCount"), label = "Megrendelők száma: ")
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-4">
                    <button type="submit" class="btn btn-default">Küldés</button>
                </div>
            </div>
        </fieldset>
    }
}
