@(original: DataTable, solution: List[DataTable], dimensions: MatrixDimensions)

@import models._

@main {
    <h1>Megoldás</h1>

    <h2>Az eredeti táblázat</h2>
    @displayTable(original)

    <h2>A megoldás lépései</h2>
    @for((step, index) <- solution.zipWithIndex) {
        <h3>@{index+1}. lépés</h3>
        <h2>@displayTransfer(step.transfers.last)</h2>
        @displayTable(step)
    }

    <h2>A végeredmény:</h2>
    <div class="alert alert-success"><strong>z =</strong>
    @solution.last.transfers.map { transfer => @{transfer.amount.toString + "*" + original.costs(transfer.from)(transfer.to)} }.mkString("+")
    = <strong>
        @solution.last.transfers.foldLeft(0)((acc, transfer) => acc + transfer.amount * original.costs(transfer.from)(transfer.to))
      </strong>
    </div>

    <a class="btn btn-primary" href="@routes.Application.index">&laquo; Új táblázat megadása</a>
}

@displayTransfer(transfer: Transfer) = {
    @{transfer.from+1}. szállító -> @{transfer.to+1}. megrendelő: @transfer.amount db
}

@displayTable(data: DataTable) = {
    <table class="table">
        <thead>
            <tr>
                <th>Szállító/<br/>Megrendelő</th>
                @for(i <- 1 to dimensions.receiverCount) {
                    <th>@i. megrendelő</th>
                }
                <th>Készlet</th>
            </tr>
        </thead>
        <tbody>
            @for(i <- 1 to dimensions.senderCount) {
                <tr>
                    <th>@i. szállító</th>
                    @for(j <- 1 to dimensions.receiverCount) {
                        <td>
                            @if(data.stocks(i - 1) > 0 && data.needs(j - 1) > 0) {
                                @original.reduceCosts.costs(i-1)(j-1)
                            }
                        </td>
                    }
                    <td>
                        @if(data.stocks(i-1) > 0) {
                            @data.stocks(i-1)
                        }
                    </td>
                </tr>
            }
            <tr>
                <th>Igények</th>
                @for(j <- 1 to dimensions.receiverCount) {
                    <td>
                    @if(data.needs(j-1) > 0) {
                        @data.needs(j-1)
                    }
                    </td>
                }
                <th></th>
            </tr>
        </tbody>
    </table>
}


